# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2020 CERN.
# Copyright (C) 2022 Graz University of Technology.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

name: CI

on:
  push:
    branches: master
  pull_request:
    branches: master
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 3 * * 6'
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason'
        required: false
        default: 'Manual trigger'

jobs:
  Tests:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
          # You can add/remove combinations e.g. `dev` requirements or `postgresql13` by adding
          # a new item to the following lists.
          # You can see the complete list of services and versions that are available at:
          # https://docker-services-cli.readthedocs.io/en/latest/configuration.html
          python-version: [3.7, 3.8, 3.9]
          requirements-level: [pypi]
          cache-service: [redis]
          db-service: [postgresql10, postgresql13, mysql5, mysql8]
          mq-service: [rabbitmq]
          search-service: [opensearch2,elasticsearch7]

          exclude:
          - python-version: 3.7
            db-service: postgresql13

          - python-version: 3.7
            db-service: mysql8

          - python-version: 3.8
            db-service: postgresql10

          - python-version: 3.9
            db-service: postgresql10

          - python-version: 3.8
            db-service: mysql5

          - python-version: 3.9
            db-service: mysql5
          include:
          - db-service: postgresql10
            DB_EXTRAS: "postgresql"

          - db-service: postgresql13
            DB_EXTRAS: "postgresql"

          - db-service: mysql5
            DB_EXTRAS: "mysql"

          - db-service: mysql8
            DB_EXTRAS: "mysql"

          - search-service: opensearch2
            SEARCH_EXTRAS: "opensearch2"

          - search-service: elasticsearch7
            SEARCH_EXTRAS: "elasticsearch7"

    env:
      CACHE: ${{ matrix.cache-service }}
      DB: ${{ matrix.db-service }}
      MQ: ${{ matrix.mq-service }}
      SEARCH: ${{ matrix.search-service }}
      EXTRAS: tests,${{matrix.SEARCH_EXTRAS}}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Generate dependencies
        run: |
          pip install wheel requirements-builder
          requirements-builder -e "$EXTRAS" --level=${{ matrix.requirements-level }} setup.py > .${{ matrix.requirements-level }}-${{ matrix.python-version }}-requirements.txt

      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('.${{ matrix.requirements-level }}-${{ matrix.python-version }}-requirements.txt') }}

      - name: Install dependencies
        run: |
          pip install -r .${{matrix.requirements-level}}-${{ matrix.python-version }}-requirements.txt
          pip install ".[$EXTRAS]"
          pip freeze
          docker --version
          docker-compose --version

      - name: Run tests
        run: |
          ./run-tests.sh
